<template>
    <Head title="Input account" />

    <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
        <div class="flex flex-row flex-wrap">
            <aside class="w-full sm:w-1/3 md:w-1/4">
                <div class="sticky top-0 m-3">

                    <h1 class="w-full my-5">Input angka sesuai nama akun</h1>

                    <jet-button type="button" :class="categorySelected == 1 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(1)">Neraca</jet-button>
                    <jet-button type="button" :class="categorySelected == 2 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(2)">LRA</jet-button>
                    <jet-button type="button" :class="categorySelected == 3 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(3)">LP SAL</jet-button>
                    <jet-button type="button" :class="categorySelected == 4 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(4)">LO</jet-button>
                    <jet-button type="button" :class="categorySelected == 5 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(5)">LAK</jet-button>
                    <jet-button type="button" :class="categorySelected == 6 ? 'disable my-1 w-full' : 'my-1 w-full bg-blue-400 shadow'" @click="showCategory(6)">LPE</jet-button>

                    <div class="bg-white shadow rounded p-2 mt-2">
                        <div class="w-full relative pt-1">
                            <div class="flex mb-2 items-center justify-between">
                                <div>
                                <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-600 bg-gray-200">
                                    Pengisian
                                </span>
                                </div>
                                <div class="text-right">
                                <span class="text-xs font-semibold inline-block text-gray-600">
                                    {{ Math.round((filled/accounts.length)*100) }} %
                                </span>
                                </div>
                            </div>
                            <div class="overflow-hidden h-2 text-xs flex rounded bg-gray-200">
                                <div :style="{ width: `${Math.round((filled/accounts.length)*100)}%` }" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-500"></div>
                            </div>
                            <div class="flex mb-2 items-center justify-end">
                                <div class="text-right">
                                    <span class="text-xs font-semibold inline-block text-gray-600">
                                        {{ filled }} / {{ accounts.length }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <jet-button type="button" class="my-1 w-full bg-blue-400 shadow" @click="storeReport()">Laporan</jet-button>
                    <jet-button type="button" class="my-1 w-full bg-red-400 shadow" @click="resetValue()">Reset</jet-button>
                    <jet-button type="button" class="my-1 w-full bg-green-400 shadow" @click="exportValue()">Unduh akun</jet-button>
                    <jet-button type="button" class="my-1 w-full bg-green-400 shadow" @click="showModal()">Upload akun</jet-button>
                </div>
            </aside>

            <main role="main" class="w-full sm:w-2/3 md:w-3/4">
                <div v-for="(account, index) in accounts" :key="index" class="m-3">
                    <div :class="categorySelected == account.category.id ? 'visible z-10' : 'absolute invisible z-0'">
                        <jet-label :value="account.name+' ('+account.category.name+')'" />
                        <jet-input type="number" class="mt-1 block w-full" v-model.number="form.value[index]"/>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <jet-dialog-modal :show="showModalUpload" @close="closeModal">
        <template #title>
            Upload nilai
        </template>

        <template #content>
            Upload file sesuai format yang diberikan!

            <div class="mt-4">
                <input class="file-input" type="file" ref="file" name="file" @keyup.enter="uploadValue">
            </div>
        </template>

        <template #footer>
            <jet-secondary-button @click="closeModal">
                Cancel
            </jet-secondary-button>

            <jet-danger-button class="ml-2" @click="uploadValue">
                Upload
            </jet-danger-button>
        </template>
    </jet-dialog-modal>

    <div class="fixed bottom-3 right-3">
        <jet-button @click="moveUp()">
            keatas
        </jet-button>
    </div>

</template>

<script>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue';
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import axios from 'axios';

    export default {
        components: {
            Head,
            Link,
            JetInput,
            JetInputError,
            JetLabel,
            JetButton,
            JetDialogModal,
            JetDangerButton,
            JetSecondaryButton,
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            accounts: Array,
        },

        data() {
            return {
                form : this.$inertia.form({
                     _method: 'POST',
                    id: [],
                    value: [],
                }),
                filled: 0,
                fileExcel: '',
                showModalUpload: false,
                categorySelected: 1,
            }
        },

        created() {
            this.form.id = this.accounts.map(el => el.id);
            
            if (localStorage.getItem('accountValue') === null) {
                localStorage.setItem('accountValue', JSON.stringify(this.accounts.map(el => el.value)));
                this.form.value = JSON.parse(localStorage.getItem('accountValue'));
            } else {
                this.form.value = JSON.parse(localStorage.getItem('accountValue'));
            }
            
            this.countFilled();
        },

        updated() {
            this.countFilled();
        },

        methods: {
            storeReport() {
                this.form.post(route('report'), {});
            },

            moveUp() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth',
                });
            },

            valueStorage() {
                try {
                    localStorage.removeItem('accountValue');
                    localStorage.setItem('accountValue', JSON.stringify(this.form.value));
                } catch (error) {
                    console.log(error.massage);
                }
            },

            resetValue() {
                try {
                    localStorage.removeItem('accountValue');
                    localStorage.setItem('accountValue', JSON.stringify(this.accounts.map(el => el.value)));
                    this.form.value = JSON.parse(localStorage.getItem('accountValue'));
                    this.countFilled();
                } catch (error) {
                    console.log(error.massage);
                }
            },

            countFilled() {
                this.filled = this.form.value.reduce((count, current) => {
                    if (current != 0 ) {
                        this.valueStorage();
                        count++;
                    }

                    return count;
                }, 0);
            },

            exportValue() {
                axios.post('/export-value', {
                    id: this.form.id,
                    value: this.form.value, 
                }, {
                    responseType: 'blob'
                })
                .then((response) => {
                    console.log(response.data);
                    const url = URL.createObjectURL(new Blob([response.data], {
                        type: 'application/vnd.ms-excel'
                    }))
                    const link = document.createElement('a')
                    link.href = url
                    link.setAttribute('download', 'account-values.xlsx')
                    document.body.appendChild(link)
                    link.click()
                }, (error) => {
                    console.log(error);
                });
            },

            showModal() {
                this.showModalUpload = true;
            },

            closeModal() {
                this.showModalUpload = false
                this.fileExcel = null
            },

            uploadValue() {
                const config = {
                    headers: {
                        'content-type': 'multipart/form-data'
                    }
                }

                let data = new FormData();
                data.append('file', this.$refs.file.files[0]);

                axios.post('/read-value-excel', data, config)
                    .then((response) => {
                        try {
                            const value = response.data.map(el => { 
                                return el.value;
                            })

                            localStorage.removeItem('accountValue');
                            localStorage.setItem('accountValue', JSON.stringify(value.flat()));
                            this.form.value = value.flat(); 
                        } catch (error) {
                            console.log(error);
                        }
                        this.closeModal();
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },

            showCategory(category) {
                this.categorySelected = category;
                console.log(this.categorySelected);
            },
        }
    }
</script>
