<template>
    <Head title="Report" />

    <div class="">
        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="w-full mt-8 p-5 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="mb-3 text-2xl text-gray-800 dark:text-gray-200">
                    <h2 class="font-bold tracking-widest text-gray-600">Statistik Pengisian</h2>
                </div>
                <div class="grid grid-cols-1 md:grid-cols-4">
                    <div class="p-2">
                        <div class="flex flex-col justify-center items-center bg-red-400 rounded shadow-lg">
                            <h5 class="font-bold tracking-wider text-gray-50 leading-loose text-xl">Kategori pemeriksaan</h5>
                            <h4 class="font-bold text-gray-100 leading-loose text-2xl">{{ category.length }}</h4>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="flex flex-col justify-center items-center bg-green-400 rounded shadow-lg">
                            <h5 class="font-bold tracking-wider text-gray-50 leading-loose text-xl">Jumlah Rumus</h5>
                            <h4 class="font-bold text-gray-100 leading-loose text-2xl">{{ formula.length }}</h4>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="flex flex-col justify-center items-center bg-blue-400 rounded shadow-lg">
                            <h5 class="font-bold tracking-wider text-gray-50 leading-loose text-xl">Jumlah akun terisi</h5>
                            <h4 class="font-bold text-gray-100 leading-loose text-2xl">{{ dataFilled() }}</h4>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="flex flex-col justify-center items-center bg-yellow-400 rounded shadow-lg">
                            <h5 class="font-bold tracking-wider text-gray-50 leading-loose text-xl">Jumlah akun kosong</h5>
                            <h4 class="font-bold text-gray-100 leading-loose text-2xl">{{ (accounts.length - dataFilled()) }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="w-full mt-8 p-5 bg-white dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="mb-3 text-2xl text-gray-800 dark:text-gray-200">
                    <h2 class="font-bold tracking-widest text-gray-600">Validitas Perhitungan</h2>
                </div>
                <div class="mb-3">
                    <div id="chart">
                        <apexchart type="pie" width="420" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="w-full mt-8 p-5 dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="mb-3 text-2xl">
                    <h2 class="font-bold tracking-widest">Indikasi kesalahan di sub akun <span class="inline-flex items-center justify-center px-2 py-1 mr-2 text-lg font-bold leading-none text-red-100 bg-red-600 rounded-full">{{ accountProblem.length }}</span></h2>
                    <jet-button type="button" @click="() => { showDetailProblemSubAccount = !showDetailProblemSubAccount }">
                        {{ (showDetailProblemSubAccount ? "Sembunyikan detail" : "Tampilkan detail") }}
                    </jet-button>
                </div>
                <div v-if="showDetailProblemSubAccount" class="mb-3">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                    <th class="px-4 py-3">No</th>
                                    <th class="px-4 py-3">Akun utama</th>
                                    <th class="px-4 py-3">Nilai akun utama</th>
                                    <th class="px-4 py-3">Sub akun</th>
                                    <th class="px-4 py-3">Selisih</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr v-for="(item, index) in accountProblem" :key="index" class="text-gray-700">
                                    <td class="px-4 py-3 border text-md font-semibold"> {{ index+1 }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex flex-col items-center justify-center text-sm">
                                            <p class="font-semibold"> {{ account[item].name }} </p>
                                            <p class="text-xs text-gray-600">( {{ account[item].category }} )</p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 border text-md font-semibold text-center"> {{ account[item].value }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="mb-2 border-b border-gray-500">
                                            <ol class="mx-2 list-decimal">
                                                <li v-for="(sub, i) in account[item].sub_name" :key="i" class="w-full flex flex-row justify-between">
                                                    <p class="font-semibold">{{ sub }} </p>
                                                    <p class="font-semibold">{{ account[item].sub_value[i] }}</p>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="flex flex-col items-center justify-center text-white text-sm bg-pink-600 rounded">
                                            <p class="font-semibold"> {{ account[item].text_sub_name }} </p>
                                            <p class="text-xs">( {{ account[item].text_sub_value }} ) = {{ countEval(account[item].text_sub_value) }} </p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 border text-md text-red-700 font-semibold text-center">
                                        {{ differenceCount(account[item].value, countEval(account[item].text_sub_value)) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="w-full mt-8 p-5 dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="mb-3 text-2xl">
                    <h2 class="font-bold tracking-widest">Detail perhitungan tidak sesuai <span class="inline-flex items-center justify-center px-2 py-1 mr-2 text-lg font-bold leading-none text-red-100 bg-red-600 rounded-full">{{ problem.length }}</span></h2>
                    <jet-button type="button" @click="() => { showDetailProblemFormula = !showDetailProblemFormula }">
                        {{ (showDetailProblemFormula ? "Sembunyikan detail" : "Tampilkan detail") }}
                    </jet-button>
                </div>
                <div v-if="showDetailProblemFormula" class="mb-3">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                    <th class="px-4 py-3">No</th>
                                    <th class="px-4 py-3">Nama Akun</th>
                                    <th class="px-4 py-3">Nilai Pembanding</th>
                                    <th class="px-4 py-3">Nilai yang dibandingkan</th>
                                    <th class="px-4 py-3">Selisih</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr v-for="(item, index) in problem" :key="index" class="text-gray-700">
                                    <td class="px-4 py-3 border text-md font-semibold"> {{ index+1 }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex flex-col items-center justify-center text-sm">
                                            <p class="font-semibold"> {{ formula[item].title }} </p>
                                            <p class="text-xs text-gray-600">( {{ formula[item].category }} )</p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 border text-md font-semibold text-center"> {{ formula[item].value }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex flex-col items-center justify-center text-sm">
                                            <p class="font-semibold"> {{ formula[item].textFormula }} </p>
                                            <p class="text-xs text-gray-600">( {{ formula[item].valueFormula }} ) = {{ countEval(formula[item].valueFormula) }} </p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 border text-md text-red-700 font-semibold text-center">
                                        {{ differenceCount(formula[item].value, countEval(formula[item].valueFormula)) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="max-w-6xl mx-auto sm:px-6 lg:px-8">
            <div class="w-full mt-8 p-5 dark:bg-gray-800 overflow-hidden shadow sm:rounded-lg">
                <div class="mb-3 text-2xl">
                    <h2 class="font-bold tracking-widest">Detail perhitungan sesuai <span class="inline-flex items-center justify-center px-2 py-1 mr-2 text-lg font-bold leading-none text-red-100 bg-green-600 rounded-full">{{ match.length }}</span></h2>
                    <jet-button type="button" @click="() => { showDetailMatchFormula = !showDetailMatchFormula }">
                        {{ (showDetailMatchFormula ? "Sembunyikan detail" : "Tampilkan detail") }}
                    </jet-button>
                </div>
                <div v-if="showDetailMatchFormula" class="mb-3">
                    <div class="w-full overflow-x-auto">
                        <table class="w-full">
                            <thead>
                                <tr class="text-md font-semibold tracking-wide text-left text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                                    <th class="px-4 py-3">No</th>
                                    <th class="px-4 py-3">Nama Akun</th>
                                    <th class="px-4 py-3">Nilai Pembanding</th>
                                    <th class="px-4 py-3">Nilai yang dibandingkan</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white">
                                <tr v-for="(item, index) in match" :key="index" class="text-gray-700">
                                    <td class="px-4 py-3 border text-md font-semibold"> {{ index+1 }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex flex-col items-center justify-center text-sm">
                                            <p class="font-semibold"> {{ formula[item].title }} </p>
                                            <p class="text-xs text-gray-600">( {{ formula[item].category }} )</p>
                                        </div>
                                    </td>
                                    <td class="px-4 py-3 border text-md font-semibold text-center"> {{ formula[item].value }} </td>
                                    <td class="px-4 py-3 border">
                                        <div class="flex flex-col items-center justify-center text-sm">
                                            <p class="font-semibold"> {{ formula[item].textFormula }} </p>
                                            <p class="text-xs text-gray-600">( {{ formula[item].valueFormula }} ) = {{ countEval(formula[item].valueFormula) }} </p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="fixed bottom-3 right-3">
        <div class="flex flex-col">
            <jet-button type="button" class="mb-3 bg-green-400 shadow" @click="toExcel()">
                Unduh excel
            </jet-button>

            <jet-button type="button" class="mb-3 shadow" @click="moveUp()">
                keatas
            </jet-button>
        </div>
    </div>
</template>

<script>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetButton from '@/Jetstream/Button.vue';
    import VueApexCharts from "vue3-apexcharts";
    import axios from 'axios';

    export default {
        components: {
            Head,
            Link,
            JetInput,
            JetInputError,
            JetLabel,
            JetButton,
            apexchart: VueApexCharts,
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            formula: Array,
            category: Array,
            account: Array,
        },

        data() {
            return {
                accounts: JSON.parse(localStorage.getItem('accountValue')),
                report: [],
                problem: [],
                match: [],
                series: [],
                chartOptions: {
                    chart: {
                        width: 420,
                        type: 'pie',
                    },
                    labels: ['Data valid', 'Data tidak cocok'],
                    colors:['#2563EB', '#DC2626'],
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 300
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }],
                    dataLabels: {
                        formatter(val, opts) {
                            const name = opts.w.globals.labels[opts.seriesIndex]
                            return [name, val.toFixed(1) + '%']
                        }
                    },
                },
                showDetailMatchFormula: false,
                showDetailProblemFormula: false,
                showDetailProblemSubAccount: true,
                accountProblem: [],
            }
        },

        created() {
            this.formula.map((el, index) => {
                (el.value !== this.countEval(el.valueFormula) ? this.problem.push(index) : this.match.push(index));
            });

            this.account.forEach(function(el, index) {
                console.log(index)
                if (el.text_sub_value !== "" && el.value !== this.countEval(el.text_sub_value)) {
                    this.accountProblem.push(index)
                }
            }, this)

            /* this.account.forEach((item, index) => {
                console.log(index)
                if (item.text_sub_value !== "" && item.value !== this.countEval(item.text_sub_value)) {
                    this.accountProblem.push(index)
                }
            }) */

            this.series.push(this.dataValid(), this.dataNoValid());
            console.log(this.accountProblem);
        },

        methods: {
            countEval(string) {
                return eval(string)
            },

            differenceCount(a, b) {
                if (a > b) {
                    return a-b;
                } else if(a < b) {
                    return b-a;
                } else {
                    return 0;
                }
            },

            moveUp() {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth',
                });
            },

            dataValid() { return this.match.length },
            dataNoValid() { return this.problem.length },
            dataFilled() {
                let filled = 0;
                this.accounts.forEach(element => {
                    if (element !== 0) {
                        filled++;
                    }
                });

                return filled;
            },

            toExcel() {
                axios.post('/export-report-excel', {
                    value: this.accounts, 
                }, {
                    responseType: 'blob'
                })
                .then((response) => {
                    console.log(response.data);
                    const url = URL.createObjectURL(new Blob([response.data], {
                        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
                    }))
                    const link= document.createElement('a')
                    link.href = url
                    link.setAttribute('download', 'report.xlsx')
                    document.body.appendChild(link)
                    link.click()
                }, (error) => {
                    console.log(error);
                });
            },
        }
    }
</script>
