<template>
    <app-layout title="Account">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Sub Account
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <div>
                    <jet-nav-link :href="route('subaccount.index')" >
                        <jet-button>Kembali</jet-button>
                    </jet-nav-link>

                    <jet-section-border />
                </div>

                <jet-form-section @submitted="storeSubAccount">
                    <template #title>
                        Buat sub akun
                    </template>

                    <template #description>
                        Tambahkan nama sub akun kedalam database
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="name" value="Name" />
                            <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" autocomplete="name" />
                            <jet-input-error :message="form.errors.name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="category" value="Category" />
                            <select id="category" v-model="form.account_category_id" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option disabled value="">Pilih kategori akun</option>
                                <option v-for="item in category" v-bind:value="item.id" :key="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <jet-input-error :message="form.errors.account_category_id" class="mt-2" />
                            <jet-input-error :message="form.errors.error" class="mt-2" />
                        </div>
                    </template>

                    <template #actions>
                        <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                            Tersimpan.
                        </jet-action-message>

                        <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                            Simpan
                        </jet-button>
                    </template>
                </jet-form-section>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'

    export default {
        components: {
            AppLayout,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetActionMessage,
            JetSecondaryButton,        
            JetSectionBorder,
            JetNavLink,
        },

        props: {
            category: Array
        },

        data() {
            return {
                form: this.$inertia.form({
                    _method: 'POST',
                    name: "",
                    account_category_id: "",
                }),
            }
        },

        methods: {
            storeSubAccount() {
                this.form.post(route('subaccount.store'), {
                    errorBag: 'createAccount',
                    preserveScroll: false,
                    onSuccess: () => {
                        this.form.name = "";
                        this.form.account_category_id = "";
                        this.$emit("refreshData", true);
                    },
                });
                
            },
        }
    }
</script>

