<template>
    <app-layout title="Account">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Sub Account
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <div>
                    <jet-nav-link :href="route('subaccount.index')" >
                        <jet-button>Kembali</jet-button>
                    </jet-nav-link>

                    <jet-section-border />
                </div>

                <div>
                    <h1 class="mb-5">Detail akun</h1>
                    <h1>Nama akun</h1>
                    <h1 class="font-bold">{{ subaccount.name }}</h1>
                    <h1>Kategori</h1>
                    <h1 class="font-bold">{{ subaccount.category.name }}</h1>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'

    export default {
        components: {
            AppLayout,
            JetButton,   
            JetSectionBorder,
            JetNavLink,
        },

        props: {
            subaccount: Object,
        },
    }
</script>

