<template>
    <Head title="Welcome" />

    <div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
        <div v-if="canLogin" class="hidden fixed top-0 right-0 px-6 py-4 sm:block">
            <Link v-if="$page.props.user" :href="route('dashboard')" class="text-sm text-gray-700 underline">
                Dashboard
            </Link>

            <template v-else>
                <Link :href="route('login')" class="text-sm text-gray-700 underline">
                    Log in
                </Link>

                <Link v-if="canRegister" :href="route('register')" class="ml-4 text-sm text-gray-700 underline">
                    Register
                </Link>
            </template>
        </div>

        <div class="max-w-6xl w-full mx-auto sm:px-6 lg:px-8">
            <div class="w-full my-3 p-5 border-2 border-gray-800 rounded">
                <h1>Menghitung akun berdasarkan rumus / formula</h1>
                <jet-nav-link :href="route('home')">
                    <jet-button>
                        Menghitung Nilai Akun
                    </jet-button>
                </jet-nav-link>
            </div>

        </div>
    </div>
</template>

<script>
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetButton from '@/Jetstream/Button.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'

    export default {
        components: {
            Head,
            Link,
            JetButton,
            JetNavLink,
        },

        props: {
            canLogin: Boolean,
            canRegister: Boolean,
            laravelVersion: String,
            phpVersion: String,
        }
    }
</script>
