<template>
    <app-layout title="Account">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Account
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <div>
                    <jet-nav-link :href="route('account.index')" >
                        <jet-button>Kembali</jet-button>
                    </jet-nav-link>

                    <jet-section-border />
                </div>

                <jet-form-section>
                    <template #title>
                        Edit Akun
                    </template>

                    <template #description>
                        Edit data akun
                    </template>

                    <template #form>
                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="name" value="Name" />
                            <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.name" autocomplete="name" />
                            <jet-input-error :message="form.errors.name" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="category" value="Category" />
                            <select id="category" v-model="form.account_category_id" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option disabled value="">Pilih kategori akun</option>
                                <option v-for="item in category" v-bind:value="item.id" :key="item.id">
                                    {{ item.name }}
                                </option>
                            </select>
                            <jet-input-error :message="form.errors.account_category_id" class="mt-2" />
                            <jet-input-error :message="form.errors.error" class="mt-2" />
                        </div>

                        <div class="col-span-6 sm:col-span-4">
                            <jet-label for="type" value="Tipe" />
                            <select id="type" v-model="form.type" class="border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option disabled value="">Pilih tipe akun</option>
                                <option value="main">Main</option>
                                <option value="sub">Sub</option>
                            </select>
                            <jet-input-error :message="form.errors.type" class="mt-2" />
                            <jet-input-error :message="form.errors.error" class="mt-2" />
                        </div>
                    </template>
                </jet-form-section>

                <div class="py-12">
                    <h3 class="text-lg font-medium text-gray-900">Penambahan sub akun</h3>
                    <div class="mt-3 bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <div class="m-5 md:col-span-2">
                            <div v-for="(item, index) in form.subaccount" :key="index">
                                <div class="grid grid-cols-2 gap-4 mb-1">
                                    <div class="mx-5">
                                        <select id="context" v-model="form.subaccount[index].sub_account_id" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                            <option disabled value="">Pilih sub akun</option>
                                            <option v-for="sub in subaccounts" :value="sub.id" :key="sub.id">
                                                {{ sub.name }} ( {{ sub.category.name }} )
                                            </option>
                                        </select>

                                        <select id="operator" v-model="form.subaccount[index].right_operator" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                            <option disabled value="">Pilih operator</option>
                                            <option value="+">+</option>
                                            <option value="-">-</option>
                                        </select>
                                    </div>
                                    <div class="mx-5">
                                        <jet-button class="w-full bg-red-600" type="button" @click="()=>{ this.form.subaccount.splice(index, 1) }">
                                            Hapus
                                        </jet-button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-5">
                                <p v-if="(alertForm !== '')" class="text-sm text-red-500 mb-2">{{alertForm}}</p>
                                <jet-input-error :message="form.errors.accounts" class="mt-2" />
                                <jet-button class="w-full bg-green-600" type="button" @click="addSubAccount()">
                                    Tambah
                                </jet-button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <jet-button class="w-full py-3" type="button" @click="updateAccount()">
                            Update Akun
                        </jet-button>

                        <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                            Ditambahkan.
                        </jet-action-message>
                    </div>
                </div>

                <jet-section-border />

                <jet-button class="w-full bg-red-500 py-3" type="button" @click="() => { showModalDelete = !showModalDelete}">
                    Hapus
                </jet-button>

                <jet-dialog-modal :show="showModalDelete" @close="() => { showModalDelete = !showModalDelete}">
                    <template #title>
                        Menghapus Akun
                    </template>

                    <template #content>
                        Apakah anda bersungguh sungguh menghapus data akun. Dengan menghapus data akun kemungkinan anda akan menemukan masalah dikemudian hari. pastikan anda memikirkannya dengan cermat
                        <jet-input-error v-if="form.errors.error" :message="form.errors.error" class="mt-2" />
                    </template>

                    <template #footer>
                        <jet-secondary-button @click="() => { showModalDelete = !showModalDelete}">
                            Cancel
                        </jet-secondary-button>

                        <jet-danger-button class="ml-2" @click="deleteAccount()">
                            Hapus akun
                        </jet-danger-button>
                    </template>
                </jet-dialog-modal>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'
    import JetDialogModal from '@/Jetstream/DialogModal.vue'
    import JetDangerButton from '@/Jetstream/DangerButton.vue'

    export default {
        components: {
            AppLayout,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetActionMessage,
            JetSecondaryButton,        
            JetSectionBorder,
            JetNavLink,
            JetDialogModal,
            JetDangerButton,
        },

        props: {
            category: Array,
            account: Object,
            subaccount: Array,
            subaccounts: Array,
        },

        data() {
            return {
                form: this.$inertia.form({
                    _method: 'POST',
                    name: "",
                    account_category_id: "",
                    type: "",
                    subaccount: [],
                }),
                alertForm: "",
                showModalDelete: false,
            }
        },

        created() {
            this.form.name = this.account.name;
            this.form.account_category_id = this.account.account_category_id;
            this.form.type = this.account.type;
            this.form.subaccount = this.subaccount;
            console.log(this.form.subaccount);
            console.log(this.subaccount);
        },

        methods: {
            updateAccount() {
                this.form.patch(route('account.update', [this.account.id]), {
                    errorBag: 'updateAccount',
                    preserveScroll: true,
                });  
            },

            deleteAccount() {
                this.form.delete(route('account.delete', [this.account.id]), {
                    errorBag: 'deleteAccount',
                    preserveScroll: true,
                });  
            },

            addSubAccount() {
                if (this.form.subaccount[0] === undefined) {
                    this.form.subaccount.push({sub_account_id: '', right_operator: ''});
                    this.alertForm = "";
                } else {
                    if (this.form.subaccount[this.form.subaccount.length-1].sub_account_id !== "" && this.form.subaccount[this.form.subaccount.length-1].right_operator !== null) {
                        this.form.subaccount.push({sub_account_id: "", right_operator: ""});
                        this.alertForm = "";
                    } else {
                        this.alertForm = "Form Sebelumnya belum diisi";
                        console.log("Form sebelumnya belum diisi");
                    }
                }
            },
        }
    }
</script>

