<template>
    <div>
        <div v-for="(item, key) in form.account" :key="key">
            <div class="flex flex-row items-center space-x-1">
                <span class="inline-flex items-center justify-center px-2 py-1 mr-2 text-lg font-bold leading-none text-red-100 bg-red-600 rounded-full">{{key+1}}</span>

                <div>
                    <jet-label for="name" value="Nama akun" />
                    <jet-input id="name" type="text" class="mt-1 block w-full" v-model="form.account[key].name" autocomplete="name" />
                </div>

                <div>
                    <jet-label for="name" value="kategori akun" />
                    <select id="category" v-model="form.account[key].account_category_id" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                        <option disabled value="">Pilih kategori akun</option>
                        <option v-for="item in category" v-bind:value="item.id" :key="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>

                <div>
                    <jet-label for="name" value="Operator" />
                    <select id="operator" v-model="form.account[key].operator" class="mt-1 block w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                        <option disabled value="">Pilih operator</option>
                        <option value="+">+</option>
                        <option value="-">-</option>
                    </select>
                </div>

                <div class="flex items-stretch space-x-1">
                    <jet-button class="w-full bg-red-600" type="button">
                        Hapus
                    </jet-button>

                    <jet-button class="w-full bg-green-600" type="button">
                        + sub
                    </jet-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import JetButton from '@/Jetstream/Button.vue'
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'

    export default {
        components: {
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetActionMessage,
            JetSecondaryButton,        
            JetSectionBorder,
        },
        props: ['category'],

    }
</script>