<template>
    <app-layout title="Account">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Formula
            </h2>
        </template>

        <div>
            <div class="max-w-7xl mx-auto py-10 sm:px-6 lg:px-8">
                <div>
                    <jet-nav-link :href="route('formula.index')" >
                        <jet-button>Kembali</jet-button>
                    </jet-nav-link>

                    <jet-section-border />
                </div>

                <jet-form-section>
                    <template #title>
                        Buat formula
                    </template>

                    <template #description>
                        Tambahkan formula ke database
                    </template>

                    <template #form>
                            <div class="col-span-6 sm:col-span-4">
                                <jet-label for="name" value="Akun yang dibuat rumus" />
                                <select id="category" v-model="form.account_id" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                    <option disabled value="">Pilih akun</option>
                                    <option v-for="item in accounts" v-bind:value="item.id" :key="item.id">
                                        {{ item.name }} ( {{ item.category.name }} - {{ item.type }} )
                                    </option>
                                </select>
                                <jet-input-error :message="form.errors.account_id" class="mt-2" />
                            </div>

                            <div class="col-span-6 sm:col-span-4">
                                <jet-label for="category" value="Category" />
                                <select id="category" v-model="form.formula_category_id" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                    <option disabled value="">Pilih kategori formula</option>
                                    <option v-for="item in category" v-bind:value="item.id" :key="item.id">
                                        {{ item.name }}
                                    </option>
                                </select>
                                <jet-input-error :message="form.errors.formula_category_id" class="mt-2" />
                                <jet-input-error :message="form.errors.error" class="mt-2" />
                            </div>
                        </template>
                </jet-form-section>

                <div class="py-12">
                    <h3 class="text-lg font-medium text-gray-900">rumus akun</h3>
                    <div class="mt-3 bg-white overflow-hidden shadow-xl sm:rounded-lg">
                        <div class="m-5 md:col-span-2">
                            <div v-for="(item, index) in form.formula_account" :key="index">
                                <div class="grid grid-cols-2 gap-4 mb-1">
                                    <div class="mx-5">
                                        <select id="context" v-model="form.formula_account[index].account_id" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                            <option disabled value="">Pilih akun</option>
                                            <option v-for="account in accounts" :value="account.id" :key="account.id">
                                                {{ account.name }} ( {{ account.category.name }} - {{ account.type }} )
                                            </option>
                                        </select>

                                        <select id="operator" v-model="form.formula_account[index].right_operator" class="w-full border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                            <option disabled value="">Pilih operator</option>
                                            <option value="+">+</option>
                                            <option value="-">-</option>
                                        </select>
                                    </div>
                                    <div class="mx-5">
                                        <jet-button class="w-full bg-red-600" type="button" @click="()=>{ this.form.formula_account.splice(index, 1) }">
                                            Hapus
                                        </jet-button>
                                    </div>
                                </div>
                            </div>
                            <div class="m-5">
                                <p v-if="(alertForm !== '')" class="text-sm text-red-500 mb-2">{{alertForm}}</p>
                                <jet-input-error :message="form.errors.accounts" class="mt-2" />
                                <jet-button class="w-full bg-green-600" type="button" @click="addSubAccount()">
                                    Tambah
                                </jet-button>
                            </div>
                        </div>
                    </div>

                    <div class="mt-5">
                        <jet-button class="w-full py-3" type="button" @click="storeFormula()">
                            Buat formula
                        </jet-button>

                        <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                            Ditambahkan.
                        </jet-action-message>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetFormSection from '@/Jetstream/FormSection.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetInputError from '@/Jetstream/InputError.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetActionMessage from '@/Jetstream/ActionMessage.vue'
    import JetSecondaryButton from '@/Jetstream/SecondaryButton.vue'
    import JetSectionBorder from '@/Jetstream/SectionBorder.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'

    export default {
        components: {
            AppLayout,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetActionMessage,
            JetSecondaryButton,        
            JetSectionBorder,
            JetNavLink,
        },

        props: {
            category: Array,
            accounts: Array,
        },

        data() {
            return {
                form: this.$inertia.form({
                    _method: 'POST',
                    account_id: "",
                    formula_category_id: "",
                    formula_account: [],
                }),
                alertForm: "",
            }
        },

        methods: {
            storeFormula() {
                if (this.form.formula_account.length === 0 || this.form.formula_account[0].account_id === undefined) {
                    this.alertForm = "Form harus diisi";
                } else {
                    this.form.post(route('formula.store'), {
                        errorBag: 'createAccount',
                        preserveScroll: false,
                        onSuccess: (res) => {
                            console.log(res);
                            this.form.account_id = "";
                            this.form.formula_category_id = "";
                            this.alertForm = "";
                            this.form.formula_account = [];
                            this.$emit("refreshData", true);
                        },
                    });
                }
            },

            addSubAccount() {
                if (this.form.formula_account[0] === undefined) {
                    this.form.formula_account.push({account_id: '', right_operator: ''});
                    this.alertForm = "";
                } else {
                    if (this.form.formula_account[this.form.formula_account.length-1].account_id !== "" && this.form.formula_account[this.form.formula_account.length-1].right_operator !== "") {
                        this.form.formula_account.push({account_id: '', right_operator: ''});
                        this.alertForm = "";
                    } else {
                        this.alertForm = "Form Sebelumnya belum diisi";
                        console.log("Form sebelumnya belum diisi");
                    }
                }
            },
        },
    }
</script>

