<template>
    <div>
        <div class="max-w-6xl w-full mx-auto sm:px-6 lg:px-8">
            <div class="w-full my-3 p-5 border-2 border-gray-800 rounded">
                <h1>Menghitung akun berdasarkan rumus / formula</h1>
                <jet-nav-link :href="route('home')">
                    <jet-button>
                        Menghitung Nilai Akun
                    </jet-button>
                </jet-nav-link>
            </div>

            <div class="w-full my-3 p-5 border-2 border-gray-800 rounded">
                <h1>Manajemen data akun</h1>
                <jet-nav-link :href="route('account.index')">
                    <jet-button>
                        Akun
                    </jet-button>
                </jet-nav-link>
            </div>

            <div class="w-full my-3 p-5 border-2 border-gray-800 rounded">
                <h1>Manajemen rumus / formula</h1>
                <jet-nav-link :href="route('formula.index')">
                    <jet-button>
                        Rumus
                    </jet-button>
                </jet-nav-link>
            </div>
        </div>
    </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';
    import JetButton from '@/Jetstream/Button.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'

    export default defineComponent({
        components: {
            Head,
            Link,
            JetButton,
            JetNavLink,
        },
    })
</script>
